// element样式主题配置
[data-theme='greenwhite'] {
  --el-color-primary-light-9: #ecf8f3;
  --el-color-primary-light-8: #d9f0e6;
  --el-color-primary-light-7: #c6e9da;
  --el-color-primary-light-6: #b3e1ce;
  --el-color-primary-light-5: #a0dac2;
  --el-color-primary-light-4: #8dd3b5;
  --el-color-primary-light-3: #7acba9;
  --el-color-primary-light-2: #67c49d;
  --el-color-primary-light-1: #54bc90;
  --el-color-primary: #41b584;
  --el-color-primary-dark-2: #29a16f;
}
