// element样式主题配置
[data-theme='redblack'] {
  --el-color-primary-light-9: #feedeb;
  --el-color-primary-light-8: #fddbd7;
  --el-color-primary-light-7: #fbcac3;
  --el-color-primary-light-6: #fab8af;
  --el-color-primary-light-5: #f9a69b;
  --el-color-primary-light-4: #f89487;
  --el-color-primary-light-3: #f78273;
  --el-color-primary-light-2: #f5715f;
  --el-color-primary-light-1: #f45f4b;
  --el-color-primary: #f34d37;
  --el-color-primary-dark-2: #d83a25;
}
