// element样式主题配置
[data-theme='blueblack'] {
  --el-color-primary-light-9: #e8f4ff;
  --el-color-primary-light-8: #d1e9ff;
  --el-color-primary-light-7: #badeff;
  --el-color-primary-light-6: #a3d3ff;
  --el-color-primary-light-5: #8cc8ff;
  --el-color-primary-light-4: #74bcff;
  --el-color-primary-light-3: #5db1ff;
  --el-color-primary-light-2: #46a6ff;
  --el-color-primary-light-1: #2f9bff;
  --el-color-primary: #1890ff;
  --el-color-primary-dark-2: #337ecc;
}
