$themes: (
  'blueblack': (
    menuBackgroundColor: #303133,
    menuTextColor: #fff,
    menuActiveTextColor: #409eff,
    menuBorderColor: #303133,
    fontColor: #ffffff
  ),
  'bluewhite': (
    menuBackgroundColor: #ffffff,
    menuTextColor: #303133,
    menuActiveTextColor: #409eff,
    menuBorderColor: #f0f0f0,
    fontColor: #303133
  ),
  'greenblack': (
    menuBackgroundColor: #303133,
    menuTextColor: #fff,
    menuActiveTextColor: #41b584,
    menuBorderColor: #303133,
    fontColor: #ffffff
  ),
  'greenwhite': (
    menuBackgroundColor: #ffffff,
    menuTextColor: #303133,
    menuActiveTextColor: #41b584,
    menuBorderColor: #f0f0f0,
    fontColor: #303133
  ),
  'purpleblack': (
    menuBackgroundColor: #303133,
    menuTextColor: #fff,
    menuActiveTextColor: #6954f0,
    menuBorderColor: #303133,
    fontColor: #ffffff
  ),
  'purplewhite': (
    menuBackgroundColor: #ffffff,
    menuTextColor: #303133,
    menuActiveTextColor: #6954f0,
    menuBorderColor: #f0f0f0,
    fontColor: #303133
  ),
  'redblack': (
    menuBackgroundColor: #303133,
    menuTextColor: #fff,
    menuActiveTextColor: #f34d37,
    menuBorderColor: #303133,
    fontColor: #ffffff
  ),
  'redwhite': (
    menuBackgroundColor: #ffffff,
    menuTextColor: #303133,
    menuActiveTextColor: #f34d37,
    menuBorderColor: #f0f0f0,
    fontColor: #303133
  ),
  'blue': (
    menuBackgroundColor: #1890ff,
    menuTextColor: #ffffff,
    menuActiveTextColor: #ffd04b,
    menuBorderColor: #1890ff,
    fontColor: #ffffff
  ),
  'green': (
    menuBackgroundColor: #41b584,
    menuTextColor: #ffffff,
    menuActiveTextColor: #ffd04b,
    menuBorderColor: #41b584,
    fontColor: #ffffff
  ),
  'purple': (
    menuBackgroundColor: #6954f0,
    menuTextColor: #ffffff,
    menuActiveTextColor: #ffd04b,
    menuBorderColor: #6954f0,
    fontColor: #ffffff
  ),
  'red': (
    menuBackgroundColor: #f34d37,
    menuTextColor: #ffffff,
    menuActiveTextColor: #ffd04b,
    menuBorderColor: #f34d37,
    fontColor: #ffffff
  )
);
